<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <title>Delivery</title>
    </head>

    <body>

        <main id="app">

            <section  class="items">
                <h4>Escolha Seus Itens:</h4>
                
                <div 
                    v-for="produto in produtos" 
                    class="product"
                    v-on:click="produto.ativo = !produto.ativo"
                    v-bind:class="produto.ativo ? 'selected' : ''"
                >
                    <div class="photo">
                        <img v-bind:src='produto.foto'>
                    </div>
                    <div class="description">
                        <span class="name">{{produto.nome}}</span>
                        <span class="price">{{'R$ ' + produto.preco}}</span>
                        <div class="quantity-area" v-if="produto.ativo">
                            <button v-on:click.stop="produto.qtd--" v-bind:disabled="produto.qtd <= 1">-</button>
                            <span class="quantity">{{produto.qtd}}</span>
                            <button v-on:click.stop="produto.qtd++">+</button>
                        </div>
                    </div>
                </div>
            </section>

            <section class="summary" v-if="total() >0">
                <strong>Resumo do pedido</strong>
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="produto in produtos">
                            <template v-if="produto.ativo">
                                <td>{{produto.qtd + 'x ' + produto.nome}}</td>
                                <td>{{'R$ ' + (produto.qtd * produto.preco).toFixed(2)}}</td>
                            </template>
                        </tr>

                        <tr>
                            <th>Total</th>
                            <th>{{'R$ ' + total() }}</th>
                        </tr>
                    </tbody>
                </table>
            </section>

        </main>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="scripts.js"></script>
    </body>

</html>